linode_access_token    = "<linode-token with linode, events permissions>"
linode_root_password   = "<password>"
linode_root_ssh_privatekey = "~/.ssh/id_linode_ed25519"
zoomingin_domain       = "testing.zoomingin.net"
